Binaries/GameEditorTarget/Windows/x64/Development/ExtensionMethods.CSharp.dll
Binaries/GameEditorTarget/Windows/x64/Development/ExtensionMethods.CSharp.pdb
Binaries/GameEditorTarget/Windows/x64/Development/ExtensionMethods.CSharp.xml
Binaries/GameEditorTarget/Windows/x64/Development/ExtensionMethods.dll
Binaries/GameEditorTarget/Windows/x64/Development/ExtensionMethods.exp
Binaries/GameEditorTarget/Windows/x64/Development/ExtensionMethods.ilk
Binaries/GameEditorTarget/Windows/x64/Development/ExtensionMethods.lib
Binaries/GameEditorTarget/Windows/x64/Development/ExtensionMethods.pdb
Binaries/GameEditorTarget/Windows/x64/Development/Game.CSharp.dll
Binaries/GameEditorTarget/Windows/x64/Development/Game.CSharp.pdb
Binaries/GameEditorTarget/Windows/x64/Development/Game.CSharp.xml
Binaries/GameEditorTarget/Windows/x64/Development/GameEditorTarget.Build.json
Binaries/GameEditorTarget/Windows/x64/Development/MonitorUtils.CSharp.dll
Binaries/GameEditorTarget/Windows/x64/Development/MonitorUtils.CSharp.pdb
Binaries/GameEditorTarget/Windows/x64/Development/MonitorUtils.CSharp.xml
Binaries/GameEditorTarget/Windows/x64/Development/MonitorUtils.dll
Binaries/GameEditorTarget/Windows/x64/Development/MonitorUtils.exp
Binaries/GameEditorTarget/Windows/x64/Development/MonitorUtils.ilk
Binaries/GameEditorTarget/Windows/x64/Development/MonitorUtils.lib
Binaries/GameEditorTarget/Windows/x64/Development/MonitorUtils.pdb
Binaries/GameEditorTarget/Windows/x64/Development/Newtonsoft.Json.dll
Binaries/GameEditorTarget/Windows/x64/Development/Newtonsoft.Json.pdb
Binaries/GameEditorTarget/Windows/x64/Development/Newtonsoft.Json.xml
Binaries/GameTarget/Windows/x64/Development/ExtensionMethods.CSharp.dll
Binaries/GameTarget/Windows/x64/Development/ExtensionMethods.CSharp.pdb
Binaries/GameTarget/Windows/x64/Development/ExtensionMethods.CSharp.xml
Binaries/GameTarget/Windows/x64/Development/ExtensionMethods.dll
Binaries/GameTarget/Windows/x64/Development/ExtensionMethods.exp
Binaries/GameTarget/Windows/x64/Development/ExtensionMethods.ilk
Binaries/GameTarget/Windows/x64/Development/ExtensionMethods.lib
Binaries/GameTarget/Windows/x64/Development/ExtensionMethods.pdb
Binaries/GameTarget/Windows/x64/Development/Game.CSharp.dll
Binaries/GameTarget/Windows/x64/Development/Game.CSharp.pdb
Binaries/GameTarget/Windows/x64/Development/Game.CSharp.xml
Binaries/GameTarget/Windows/x64/Development/GameTarget.Build.json
Binaries/GameTarget/Windows/x64/Development/Newtonsoft.Json.dll
Binaries/GameTarget/Windows/x64/Development/Newtonsoft.Json.pdb
Binaries/GameTarget/Windows/x64/Development/Newtonsoft.Json.xml
Icon/ExtensionMethods.Icon.png
Icon/icon.png
Logs/Log_2025_10_09_02_17_17.txt
Logs/Log_2025_10_09_02_31_28.txt
Logs/Log_2025_10_09_02_36_28.txt
Logs/Log_2025_10_09_02_37_15.txt
Logs/Log_2025_10_09_02_39_15.txt
Logs/Log_2025_10_09_15_51_35.txt
Logs/Log_2025_10_09_15_51_48.txt
Logs/Log_2025_10_11_22_54_26.txt
Logs/Log_2025_10_13_18_40_52.txt
Logs/Log_2025_10_14_12_46_45.txt
Logs/Log_2025_10_14_13_06_39.txt
Logs/Log_2025_10_14_14_44_49.txt
Logs/Log_2025_10_17_19_20_14.txt
Logs/Log_2025_10_21_14_39_36.txt
Logs/Log_2025_10_21_15_24_10.txt
Logs/Log_2025_10_22_12_47_24.txt
Logs/Log_2025_10_22_13_38_16.txt
Logs/Log_2025_10_22_13_45_02.txt
Logs/Log_2025_10_22_14_14_03.txt
Logs/Log_2025_10_22_14_50_29.txt
Output/Windows/amd_ags_x64.dll
Output/Windows/dbghelp.dll
Output/Windows/DirectXTex.pdb
Output/Windows/ExtensionMethods.CSharp.dll
Output/Windows/ExtensionMethods.CSharp.pdb
Output/Windows/ExtensionMethods.CSharp.xml
Output/Windows/ExtensionMethods.dll
Output/Windows/ExtensionMethods.pdb
Output/Windows/FlaxEngine.CSharp.dll
Output/Windows/FlaxEngine.CSharp.pdb
Output/Windows/FlaxEngine.CSharp.runtimeconfig.json
Output/Windows/FlaxEngine.CSharp.xml
Output/Windows/FlaxEngine.dll
Output/Windows/FlaxEngine.pdb
Output/Windows/FlaxGame.pdb
Output/Windows/freetype.pdb
Output/Windows/Game.Build.json
Output/Windows/Game.CSharp.dll
Output/Windows/Game.CSharp.pdb
Output/Windows/Game.CSharp.xml
Output/Windows/My Game.exe
Output/Windows/nethost.dll
Output/Windows/Newtonsoft.Json.dll
Output/Windows/Newtonsoft.Json.pdb
Output/Windows/Newtonsoft.Json.xml
Output/Windows/NvCloth_x64.pdb
Output/Windows/OpenAL32.dll
Output/Windows/PhysX_static_64.pdb
Output/Windows/PhysXCharacterKinematic_static_64.pdb
Output/Windows/PhysXCommon_static_64.pdb
Output/Windows/PhysXCooking_static_64.pdb
Output/Windows/PhysXExtensions_static_64.pdb
Output/Windows/PhysXFoundation_static_64.pdb
Output/Windows/PhysXVehicle_static_64.pdb
Output/Windows/WinPixEventRuntime.dll
Output/Windows/Content/AssetsCache.dat
Output/Windows/Content/Data_0.flaxpac
Output/Windows/Content/head
Output/Windows/Dotnet/LICENSE.TXT
Output/Windows/Dotnet/THIRD-PARTY-NOTICES.TXT
Output/Windows/Dotnet/host/fxr/9.0.0/hostfxr.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/.version
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/clretwrc.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/clrgc.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/clrgcexp.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/clrjit.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/coreclr.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/hostpolicy.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/Microsoft.DiaSymReader.Native.amd64.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/Microsoft.NETCore.App.deps.json
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/Microsoft.NETCore.App.runtimeconfig.json
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/Microsoft.Win32.Primitives.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/Microsoft.Win32.Registry.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/mscordaccore_amd64_amd64_9.0.24.52809.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/mscordaccore.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/mscordbi.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/mscorrc.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/msquic.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Collections.Concurrent.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Collections.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Collections.Immutable.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Collections.NonGeneric.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Collections.Specialized.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.ComponentModel.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.ComponentModel.Primitives.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.ComponentModel.TypeConverter.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Diagnostics.DiagnosticSource.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Diagnostics.StackTrace.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Diagnostics.TraceSource.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Diagnostics.Tracing.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Drawing.Primitives.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Formats.Asn1.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.IO.Compression.Brotli.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.IO.Compression.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.IO.Compression.Native.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.IO.MemoryMappedFiles.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Linq.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Linq.Expressions.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Memory.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Net.Http.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Net.NameResolution.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Net.NetworkInformation.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Net.Primitives.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Net.Quic.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Net.Security.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Net.Sockets.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Numerics.Vectors.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.ObjectModel.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Private.CoreLib.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Private.Uri.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Private.Xml.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Private.Xml.Linq.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Reflection.Emit.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Reflection.Emit.ILGeneration.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Reflection.Emit.Lightweight.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Reflection.Metadata.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Reflection.Primitives.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Resources.Writer.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Runtime.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Runtime.InteropServices.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Runtime.Intrinsics.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Runtime.Loader.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Runtime.Numerics.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Runtime.Serialization.Formatters.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Runtime.Serialization.Primitives.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Security.AccessControl.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Security.Claims.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Security.Cryptography.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Security.Principal.Windows.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Text.Encoding.Extensions.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Text.RegularExpressions.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Threading.Channels.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Threading.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Threading.Overlapped.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Threading.Thread.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Threading.ThreadPool.dll
Output/Windows/Dotnet/shared/Microsoft.NETCore.App/9.0.0/System.Xml.XDocument.dll
Cache/AssetsCache.dat
Cache/icon.png
Cache/ProjectCache.dat
Cache/version
Cache/VulkanPipeline.cache
Cache/WindowsLayout.xml
Cache/Cooker/Windows/CompileLog.txt
Cache/Cooker/Windows/CookedHeader_6801.bin
Cache/Cooker/Windows/SDKs.txt
Cache/Cooker/Windows/StripDotnetLibs.txt
Cache/Cooker/Windows/SystemDotnetInfo.txt
Cache/Cooker/Windows/Cache/Intermediate/BuilderRules.dll
Cache/Cooker/Windows/Cache/Intermediate/BuilderRulesInfo.txt
Cache/Cooker/Windows/Cooked/0a98f33a4121908023bf8e86e5badfc0
Cache/Cooker/Windows/Cooked/0a0104ae4e89dc30a6c156bc5f268eac
Cache/Cooker/Windows/Cooked/0bca0c2e41fbadae2bdbf3b0619cf62c
Cache/Cooker/Windows/Cooked/1aae48cb4bf0cfe03a03a1888f74c51e
Cache/Cooker/Windows/Cooked/1bf4eedd41508974d6646e8faa55420a
Cache/Cooker/Windows/Cooked/1c0e10484ff57d402275289550564b9f
Cache/Cooker/Windows/Cooked/1e1fb3a7447c1265b15967b480549d98
Cache/Cooker/Windows/Cooked/000002bc0ae800fc0000004700000049
Cache/Cooker/Windows/Cooked/000002bc1b6aae3a0000004600000064
Cache/Cooker/Windows/Cooked/000002bcf28dd81e0000005300000073
Cache/Cooker/Windows/Cooked/000002bcff99d1660000004700000072
Cache/Cooker/Windows/Cooked/3d9b3a894c3b286d13391c8c0f67733c
Cache/Cooker/Windows/Cooked/000003e89a2117f00000004d00000072
Cache/Cooker/Windows/Cooked/04a92ed74da8835ae3ca3c96802d0d92
Cache/Cooker/Windows/Cooked/000004b0d1a8aee00000004300000067
Cache/Cooker/Windows/Cooked/000004b0d5857db60000005000000072
Cache/Cooker/Windows/Cooked/000004b032f135f30000004400000064
Cache/Cooker/Windows/Cooked/4eaf325e4cd72aa4cdeb6393cad05466
Cache/Cooker/Windows/Cooked/6cc37d0a461719f34ba45090225e85f0
Cache/Cooker/Windows/Cooked/6ce7cfe8414f51ae92033e9b8325bcab
Cache/Cooker/Windows/Cooked/6d15ffff41e027ce0ce40e97185251b3
Cache/Cooker/Windows/Cooked/000007d0eb546e010000004100000065
Cache/Cooker/Windows/Cooked/000008fce1d85f560000004700000064
Cache/Cooker/Windows/Cooked/9acd18b0496064d35799f390d3a2b374
Cache/Cooker/Windows/Cooked/9d5e29604efb16eff6b815aa4a110227
Cache/Cooker/Windows/Cooked/9eba3d2a4cee4c099117f49c5dffc171
Cache/Cooker/Windows/Cooked/9fa314fc4f018ab8982e93add95da196
Cache/Cooker/Windows/Cooked/0000012c0b87eb610000004600000067
Cache/Cooker/Windows/Cooked/0000012c0b87ec2a0000004700000049
Cache/Cooker/Windows/Cooked/0000012c0b881d020000005300000046
Cache/Cooker/Windows/Cooked/0000012c0b881efd0000005300000052
Cache/Cooker/Windows/Cooked/0000012c0b8820db0000005400000041
Cache/Cooker/Windows/Cooked/0000012c0b88223c0000005300000079
Cache/Cooker/Windows/Cooked/26cdd61447c7593d1c5fa2a72b07057f
Cache/Cooker/Windows/Cooked/28cac01246c37a932ab9e0b92a838cc2
Cache/Cooker/Windows/Cooked/032ffca740c9d866409f84b148390543
Cache/Cooker/Windows/Cooked/0000044c3e3734d50000004200000074
Cache/Cooker/Windows/Cooked/0000044c6eea5dca0000004d00000072
Cache/Cooker/Windows/Cooked/0000044c9eb931830000005200000073
Cache/Cooker/Windows/Cooked/49ba177449619ed438fe5f8c592ce8fc
Cache/Cooker/Windows/Cooked/63b96a89477513769ad37aa90c2bc324
Cache/Cooker/Windows/Cooked/71bfcf2443a50f1f0bc9a8ba1adbb28a
Cache/Cooker/Windows/Cooked/74a68a984824b4510d12589f199ad68f
Cache/Cooker/Windows/Cooked/0000076ce3e7ca7e0000004700000067
Cache/Cooker/Windows/Cooked/79ac390447f4263e30f56e9190a70dbc
Cache/Cooker/Windows/Cooked/00000258c0cd66500000004c00000073
Cache/Cooker/Windows/Cooked/382f1ae946c519eff6e6f3a2965cf56b
Cache/Cooker/Windows/Cooked/00000384a94976ba0000004400000077
Cache/Cooker/Windows/Cooked/468a85d2a4dffdaf9399b71b00000000
Cache/Cooker/Windows/Cooked/00000578b2058e480000005000000067
Cache/Cooker/Windows/Cooked/637df29742f82fb9f2706da6d51d5ef9
Cache/Cooker/Windows/Cooked/639e12c042d34bae89dd8b817e1efc2d
Cache/Cooker/Windows/Cooked/866cd39843951ddb1973f187e7c21857
Cache/Cooker/Windows/Cooked/000001907c8b78d00000005100000064
Cache/Cooker/Windows/Cooked/000001907c8be3270000005300000041
Cache/Cooker/Windows/Cooked/000001907c8bfcbb000000530000004f
Cache/Cooker/Windows/Cooked/000001907c84f1050000004600000041
Cache/Cooker/Windows/Cooked/4508d98f4aa1f0bd59362b81d47e38f4
Cache/Cooker/Windows/Cooked/000005142e47174b0000005600000067
Cache/Cooker/Windows/Cooked/7871f0364d398555ccd9e297acdc8983
Cache/Cooker/Windows/Cooked/8391b6da40053a988a0959ab9f26f700
Cache/Cooker/Windows/Cooked/8660bbf44f1ea61cb9bc4580b3631973
Cache/Cooker/Windows/Cooked/00000384472f63b3000000480000006d
Cache/Cooker/Windows/Cooked/00000514619de10d000000450000006e
Cache/Cooker/Windows/Cooked/2364031e4e327637c1ad88b415fa756e
Cache/Cooker/Windows/Cooked/0000070859410d740000004700000073
Cache/Cooker/Windows/Cooked/50310067422bada39f9553b41c4869a4
Cache/Cooker/Windows/Cooked/a070da8e49f2ce2ca0821aa79663a5a4
Cache/Cooker/Windows/Cooked/ae21da2b4ef20d43222715a13e3bd70a
Cache/Cooker/Windows/Cooked/b43f0f8f4aaba3f3156896a5a22ba493
Cache/Cooker/Windows/Cooked/bb6fbecf458db0ecffa5e2a5155b2b4f
Cache/Cooker/Windows/Cooked/c781c32b43f9bdfa520340a7b52ee615
Cache/Cooker/Windows/Cooked/c1620a354390da314f3bd797f2c51852
Cache/Cooker/Windows/Cooked/d89d641748a2a23f2acbbcba1c96ad8f
Cache/Cooker/Windows/Cooked/ddba293941573ad277fe4f824e19dab0
Cache/Cooker/Windows/Cooked/e573d5ca49210c5230e55ea7405519c8
Cache/Cooker/Windows/Cooked/f4c1c67842f6b745a6976aa8e7eff360
Cache/Cooker/Windows/Cooked/f77a80c94554708b0141a4b70a2b9a04
Cache/Cooker/Windows/Cooked/f91fe7264c3748c94fcd48ae4fcf4488
Cache/Cooker/Windows/Cooked/f815fa4140740ea170371b83471ed9f3
Cache/Cooker/Windows/Cooked/f06087174bbd9f7b54d51eb8e27d450a
Cache/Cooker/Windows/Cooked/fc8ef1bb474956920c5505b7ea7ea9ff
Cache/Intermediate/BuilderRules.dll
Cache/Intermediate/BuilderRulesInfo.txt
Cache/Intermediate/IncludesCache.cache
Cache/Intermediate/Log.txt
Cache/Intermediate/TaskGraph.cache
Cache/Intermediate/BuildScripts/Windows/AnyCPU/Debug/CSharp/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Cache/Intermediate/BuildScripts/Windows/AnyCPU/Debug/CSharp/BuildScripts.csproj.AssemblyReference.cache
Cache/Intermediate/BuildScripts/Windows/AnyCPU/Debug/CSharp/BuildScripts.GeneratedMSBuildEditorConfig.editorconfig
Cache/Intermediate/GameEditorTarget/Windows/x64/Debug/CSharp/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Cache/Intermediate/GameEditorTarget/Windows/x64/Debug/CSharp/ExtensionMethods.CSharp.csproj.AssemblyReference.cache
Cache/Intermediate/GameEditorTarget/Windows/x64/Debug/CSharp/ExtensionMethods.CSharp.GeneratedMSBuildEditorConfig.editorconfig
Cache/Intermediate/GameEditorTarget/Windows/x64/Debug/CSharp/Game.csproj.AssemblyReference.cache
Cache/Intermediate/GameEditorTarget/Windows/x64/Debug/CSharp/Game.GeneratedMSBuildEditorConfig.editorconfig
Cache/Intermediate/GameEditorTarget/Windows/x64/Debug/ExtensionMethods/ExtensionMethods.Bindings.Gen.cs
Cache/Intermediate/GameEditorTarget/Windows/x64/Debug/Game/Game.Bindings.Gen.cs
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods.CSharp.AssemblyAttributes.cs
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods.CSharp.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/Game.CSharp.AssemblyAttributes.cs
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/Game.CSharp.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.Bindings.Gen.cs
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.Gen.obj
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.Gen.pdb
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.HotReload.1.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.HotReload.2.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.HotReload.3.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.HotReload.4.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.HotReload.5.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.HotReload.6.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.HotReload.7.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.HotReload.8.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.HotReload.9.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.HotReload.10.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.HotReload.11.dll.response
Cache/Intermediate/GameEditorTarget/Windows/x64/Development/Game/Game.Bindings.Gen.cs
Cache/Intermediate/GameEditorTarget/Windows/x64/Release/ExtensionMethods/ExtensionMethods.Bindings.Gen.cs
Cache/Intermediate/GameEditorTarget/Windows/x64/Release/Game/Game.Bindings.Gen.cs
Cache/Intermediate/GameTarget/Windows/x64/Debug/ExtensionMethods/ExtensionMethods.Bindings.Gen.cs
Cache/Intermediate/GameTarget/Windows/x64/Debug/Game/Game.Bindings.Gen.cs
Cache/Intermediate/GameTarget/Windows/x64/Development/ExtensionMethods.CSharp.AssemblyAttributes.cs
Cache/Intermediate/GameTarget/Windows/x64/Development/ExtensionMethods.CSharp.response
Cache/Intermediate/GameTarget/Windows/x64/Development/Game.CSharp.AssemblyAttributes.cs
Cache/Intermediate/GameTarget/Windows/x64/Development/Game.CSharp.response
Cache/Intermediate/GameTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.Bindings.Gen.cs
Cache/Intermediate/GameTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.dll.response
Cache/Intermediate/GameTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.Gen.obj
Cache/Intermediate/GameTarget/Windows/x64/Development/ExtensionMethods/ExtensionMethods.Gen.pdb
Cache/Intermediate/GameTarget/Windows/x64/Development/Game/Game.Bindings.Gen.cs
Cache/Intermediate/GameTarget/Windows/x64/Release/ExtensionMethods/ExtensionMethods.Bindings.Gen.cs
Cache/Intermediate/GameTarget/Windows/x64/Release/Game/Game.Bindings.Gen.cs
Cache/Projects/BuildScripts.csproj
Cache/Projects/ExtensionMethods.vcxproj
Cache/Projects/ExtensionMethods.vcxproj.filters
Cache/Projects/ExtensionMethods.vcxproj.user
Cache/Projects/Flax.Build.CSharp.SkipBuild.targets
Cache/Projects/Flax.Build.CSharp.targets
Cache/Projects/Flax.vcxproj
Cache/Projects/Flax.vcxproj.filters
Cache/Projects/Flax.vcxproj.user
Cache/Projects/FlaxEngine.csproj
Cache/Projects/Properties/launchSettings.json
Cache/Projects/obj/BuildScripts.csproj.nuget.dgspec.json
Cache/Projects/obj/BuildScripts.csproj.nuget.g.props
Cache/Projects/obj/BuildScripts.csproj.nuget.g.targets
Cache/Projects/obj/project.assets.json
Cache/Projects/obj/project.nuget.cache
Cache/Shaders/Cache/CacheVersion
Cache/Shaders/Cache/DX_SM5/000002bc-0ae8-00fc-0000-004700000049
Cache/Shaders/Cache/DX_SM5/000002bc-1b6a-ae3a-0000-004600000064
Cache/Shaders/Cache/DX_SM5/000002bc-f28d-d81e-0000-005300000073
Cache/Shaders/Cache/DX_SM5/000002bc-ff99-d166-0000-004700000072
Cache/Shaders/Cache/DX_SM5/3d9b3a89-4c3b-286d-1339-1c8c0f67733c
Cache/Shaders/Cache/DX_SM5/000003e8-9a21-17f0-0000-004d00000072
Cache/Shaders/Cache/DX_SM5/000004b0-32f1-35f3-0000-004400000064
Cache/Shaders/Cache/DX_SM5/000004b0-d1a8-aee0-0000-004300000067
Cache/Shaders/Cache/DX_SM5/000004b0-d585-7db6-0000-005000000072
Cache/Shaders/Cache/DX_SM5/6ce7cfe8-414f-51ae-9203-3e9b8325bcab
Cache/Shaders/Cache/DX_SM5/6f702996-4a64-c08d-d211-6eae83502226
Cache/Shaders/Cache/DX_SM5/000007d0-eb54-6e01-0000-004100000065
Cache/Shaders/Cache/DX_SM5/000008fc-e1d8-5f56-0000-004700000064
Cache/Shaders/Cache/DX_SM5/0000012c-0b87-eb61-0000-004600000067
Cache/Shaders/Cache/DX_SM5/0000012c-0b87-ec2a-0000-004700000049
Cache/Shaders/Cache/DX_SM5/0000012c-0b88-1d02-0000-005300000046
Cache/Shaders/Cache/DX_SM5/0000012c-0b88-1efd-0000-005300000052
Cache/Shaders/Cache/DX_SM5/0000012c-0b88-20db-0000-005400000041
Cache/Shaders/Cache/DX_SM5/0000012c-0b88-223c-0000-005300000079
Cache/Shaders/Cache/DX_SM5/28cac012-46c3-7a93-2ab9-e0b92a838cc2
Cache/Shaders/Cache/DX_SM5/0000044c-3e37-34d5-0000-004200000074
Cache/Shaders/Cache/DX_SM5/0000044c-6eea-5dca-0000-004d00000072
Cache/Shaders/Cache/DX_SM5/0000044c-9eb9-3183-0000-005200000073
Cache/Shaders/Cache/DX_SM5/0000044c-b44d-f381-0000-004500000064
Cache/Shaders/Cache/DX_SM5/0000076c-e3e7-ca7e-0000-004700000067
Cache/Shaders/Cache/DX_SM5/92ff4249-41e6-25f2-045d-49a1616ec3b8
Cache/Shaders/Cache/DX_SM5/00000190-7c8b-78d0-0000-005100000064
Cache/Shaders/Cache/DX_SM5/00000190-7c8b-e327-0000-005300000041
Cache/Shaders/Cache/DX_SM5/00000190-7c8b-fcbb-0000-00530000004f
Cache/Shaders/Cache/DX_SM5/00000190-7c84-f105-0000-004600000041
Cache/Shaders/Cache/DX_SM5/00000258-c0cd-6650-0000-004c00000073
Cache/Shaders/Cache/DX_SM5/00000384-472f-63b3-0000-00480000006d
Cache/Shaders/Cache/DX_SM5/00000384-a949-76ba-0000-004400000077
Cache/Shaders/Cache/DX_SM5/00000514-2e47-174b-0000-005600000067
Cache/Shaders/Cache/DX_SM5/00000514-619d-e10d-0000-00450000006e
Cache/Shaders/Cache/DX_SM5/00000578-b205-8e48-0000-005000000067
Cache/Shaders/Cache/DX_SM5/639e12c0-42d3-4bae-89dd-8b817e1efc2d
Cache/Shaders/Cache/DX_SM5/00000708-5941-0d74-0000-004700000073
Cache/Shaders/Cache/DX_SM5/442447fc-4205-91e6-13d5-d386f19fc423
Cache/Shaders/Cache/DX_SM5/b9f6a9ea-4ffa-d93c-aad5-1b86dba65da8
Cache/Shaders/Cache/DX_SM5/f0608717-4bbd-9f7b-54d5-1eb8e27d450a
Cache/Shaders/Cache/DX_SM5/fe68a2e7-4818-e227-5a4a-8db8f5257438
Cache/Thumbnails/cache_df8dae4c64de422c95b51c8f3369ee2e.flax
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
ExtensionMethods.sln
ExtensionMethods.sln.DotSettings.user
ExtensionMethods.code-workspace
omnisharp.json
Source/obj
Source/Properties